@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    7 Ritson Rd<br />
    Overport, Durban, 4001, South Africa<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@prezzie.com">Support@prezzie.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@prezzie.com">Marketing@prezzie.com</a>
</address>