@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: url(../../Content/bg-plane.jpg); background-size: cover;">
    <h1 style="color:white" align="center">Welcome at Prezzie!</h1>
</div>

<div class="jumbotron" style="background-color:white">
<p class="lead" align="center">
    Did you ever finish your travel and thought: “Oh no, why didn’t I take that, I won’t get it in my country!” ?
    Your family and friends won´t travel to that destination in the near future and Amazon etc. can´t help you either?
    Then our website is exactly what you need!
    Here you can create your requests and someone, who is actually in the chosen country or will travel there, can take the product back for you.
</p>
    </div>

<div class="jumbotron">
<div class="row">
    <div class="col-md-4">
        <h2 style="color:#56c8c8">Requests</h2>
        <p>
            Watch the requests of our members ou create your own request.
        </p>
        <p><a class="btn btn-default" style="background-color:#feab33" @Html.ActionLink("Let´s go!", "Index", "Requests")</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#56c8c8">Your profile</h2>
        <p>Manage your profile and your requests.</p>
        <p><a class="btn btn-default" style="background-color:#feab33" @Html.ActionLink("Let´s go!", "Index", "Profile")</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#56c8c8">Contact</h2>
        <p>Would you like to get in touch with us?</p>
        <p><a class="btn btn-default" style="background-color:#feab33" @Html.ActionLink("Let´s go!", "Contact", "Home")</a></p>
    </div>
</div>
</div>